:root{
  background-image: url("./5570834.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 padding: 5% 15%;
 color: white;
 font-family: "Open Sans" , "Roboto", sans-serif;
 font-weight: 400;
 font-style: normal;
}
*{
  box-sizing:border-box;
  
}
.circle {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  pointer-events: none;
  position: fixed;
  top: -10rem;
  left: -10rem;
  height: 4rem;
  width: 4rem;
  transition: transform 0.4s, background 0.4s;
}

.circle.big {
  transform: scale(0.2);
}
a{
  text-decoration: none;
  color: inherit;

}
.big{
  font-size: 3rem;
  padding-left: 40px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.pic-container{
  width: 7%;
}
.prof-pic{
  width: 100%;
  border-radius: 35%;
}
.links{
  display: flex;
  gap: 30px;
  color: rgb(236, 227, 239);
}
.links a::after{
  display: block;
  content: "";
  width: 0;
  margin: auto;
  height: 1px;
  background:  rgb(236, 227, 239);
  transition: width 0.3s;
}
.links a:hover::after{
  width: 100%;
}
.links button{
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  width: 50px;
  padding: 7px;
  border: 1px rgba(236, 227, 239, 0.337) solid;
  border-radius: 500px;
}
.links button:hover{
  box-shadow: 0 0 7px rgba(236, 227, 239);
}
.home{
  min-height: 100vh;
  padding:5% 15%;
  font-size: 1.3rem;
}
h4{
  color: rgb(94 234 212);
  margin-bottom: 7px;
  font-size: 1.3rem;
}
.home h1{
  font-size: 2.6rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home > .name{
  color: rgb(236, 227, 239);
}
.title{
  color: rgb(151, 130, 158);
}
.home > p{
  line-height: 1.9rem;
  font-size: 1.1rem;
  color: rgb(236, 227, 239);
}
.home p a{
  color: rgb(94 234 212);
}
.home-contact{
  display: flex;
  justify-content: space-between;
}
.arrow-container{
  font-size: 1.1rem;
  position: relative;
  display: flex;
  align-items: center;
  max-width: fit-content;

}
.arrow{
  font-size: 1.6rem;
  position: absolute;
  left:106%;
  transition: ease-in-out 0.7s;
}
.arrow-active{
  left: calc(100% + 25px);
}
.home > *{
  opacity: 0;
  transform: translate(30px, 30px);
} 
.g-visible{
  transition: all 0.5s ;
  opacity: 1;
  transform: translate(0);
}
.n-visible{
  transition: all 1s ;
  opacity: 1;
  transform: translate(0);
}
.t-visible{
  transition: all 1.5s ;
  opacity: 1;
  transform: translate(0);
}
.p-visible{
  transition: all 2s;
  opacity: 1;
  transform: translate(0);
}
.c-visible{
  transition: all 2.5s ;
  opacity: 1;
  transform: translate(0);
}
.about, .projects{

}
.about{
  padding-bottom: 100px;
}
.about-container{
  padding: 30px 100px;
  opacity: 0;
  transform: translateY(120px);
  
}
.visible{
  top: 100px;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-in;
}
.about-container>div{
  padding: 5px 20px;
}
.about ul{
  list-style-type: "✔ ";
}
.about li::marker{
  color:rgb(151, 130, 158);
}

.projects-container {
  padding: 5% 10%;
  columns: 2; 
  column-gap: 16px;
  max-width: 1200px;  
  margin: 0 auto; 
}

.project {
  position: relative;
  display: inline-block;
  background: transparent;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  width: 100%; 
  break-inside: avoid; 
}
.project img {
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
}
.project-info{
  z-index: 2;
  position: absolute;
  bottom: 16px;
  padding-left: 10%;
  opacity: 0;
  transform: translateY(40px);
}
.project-shade{
  z-index: 1;
  position: absolute;
  background: rgba(29, 29, 29, 0.336);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.project:hover .project-info{
  transition: all 0.3s ease-in;
  transform: translateY(0);
  opacity: 1;
}
.project:hover .project-shade{
  opacity: 1;
}
.project-info>ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  gap: 30px;
}
.project-info li{
  font-size:0.8rem;
  background: rgba(36, 35, 35, 0.736);
  padding: 5px 7px;
  border-radius: 10px;
}
.project-side{
  padding: 40px 30px;
  background:#020a13e6;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48%;
  overflow-y:auto ;
}
.project-side button{
  color:white;
  font-size: 0rem;
  background: rgba(36, 35, 35, 0.736);
  padding: 2px;
  border-radius: 10px;
  border:1px solid rgba(60, 59, 59, 0.736);
}
.project-side button:hover{
  background: rgba(60, 59, 59, 0.736);
}
.project-side ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  gap: 30px;
}
.project-side li{
  font-size:0.8rem;
  background: rgba(36, 35, 35, 0.736);
  padding: 5px 7px;
  border-radius: 10px;
}
.project-side img{
  max-width: 70%;
  max-height:50% ;
}
.project-side-shade{
  background: #020a1351;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body.no-scroll {
  overflow: hidden;
}

.contact-container {
  height: 90vh;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;

}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.contact-item:hover {
  background-color: #f5f5f5;
}
.error-container{
  padding-top:10% ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pending{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .home{
    padding: 7% 3%;
  }
  .header{
    justify-content: center;
  }
  .header>a{
    display: none;
  }
  .about-container{
    padding: 0;
  }
  .projects-container{
    padding: 0;
  }
  .project-side{
    width: 70%;
  }
}
@media only screen and (max-width: 800px){
  .projects-container {

    columns: 1; 

  }
}
@media only screen and (max-width: 600px) {
  :root{
    padding: 20px;
  }
  .header{
    font-size: 1rem;
    justify-content: center;
  }
  .header>a{
    display: none;
  }
  .header button{
    font-size: 1rem;
    width: 40px;
  }
  .project-side{
    width: 100%;
  }
}